<template>
  <div id="root">
    <router-view></router-view>
    <input type="text" v-model="todoText" /><button @click="handleClickSend">
      send
    </button>
    <ul ref="oUl">
      <li v-for="val in todList" :key="val.id">{{ val.value }}</li>
    </ul>
    ›
  </div>
</template>
<script>
import { reactive, ref, onMounted } from "vue"
export default {
  setup() {
    const todoList = reactive([])
    const todoText = ref("文本框值")
    console.log(todoText)
    const handleClickSend = () => {
      console.log("click")
      console.log(todoText.value)
    }
    onMounted(() => {
      console.log("11")
    })
    return {
      todoList,
      todoText,
      handleClickSend,
    }
  },
}
</script>
<style></style>
